@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');
.auth-bg{
    background: linear-gradient(135deg,  #4da6ff, #cceeff, #b3e0ff);
    font-family: 'Poppins', sans-serif;
}

.auth-card{
    border-radius: 25px;
    box-shadow: 0 8px 32px rgba(77, 166 , 255, 0.7);
    background-color: rgba(255,255,255,0.7);
    backdrop-filter: blur(15px);
    padding: 40px;
    width: 340px;
    text-align: center;
}

.auth-title{
    color: #4da6ff;
    font-weight: bold;
    margin-bottom: 25px;
}

.auth-input{
    border-radius: 30px;
    border: none;
    outline: none;
    background: #f0f8ff;
    box-shadow: inset 2px 2px 5px #d6eaff, inset -2px -2px 5px #ffffff;
    width: 100%;
    padding: 12px 15px;
    margin: 10px 0;
}

.auth-btn{
    width: 100%;
    padding: 12px;
    margin-top: 15px;
    border: none;
    background: linear-gradient(90deg, #4da6ff, #66bfff,#80ccff);
    color: white;
    border-radius: 30px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.auth-btn:hover{
    transform: translateY(-3px);
    box-shadow: 0px 5px 20px rgba(77, 166, 255, 0.4);
}